.wp-block-wporg-remembers-list a {
	display: inline-block;
	color: inherit;
	text-decoration: none;

	&:hover {
		color: var(--wp--custom--link--color--text);
		text-decoration: underline;
	}
}

@media ( max-width: 500px) {
	.wp-block-wporg-remembers-list .wp-block-columns {
		flex-direction: column !important;
	}
}
