/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "fluid";

/*
 * Override inline paddings with the spacing preset.
 */

[style*="padding-top:120px"] {
	padding-top: var(--wp--preset--spacing--80) !important;
}

[style*="padding-bottom:120px"] {
	padding-bottom: var(--wp--preset--spacing--80) !important;
}

[style*="padding-top:160px"] {
	padding-top: var(--wp--preset--spacing--90) !important;
}

[style*="padding-bottom:160px"] {
	padding-bottom: var(--wp--preset--spacing--90) !important;
}


/*
 * Fix border bug on RTL sites.
 * See https://github.com/WordPress/gutenberg/issues/44169.
 */

html[dir="rtl"] :where([style*="border-left-width"]),
html[dir="rtl"] :where([style*="border-left-color"]),
html[dir="rtl"] :where([style*="border-right-width"]),
html[dir="rtl"] :where([style*="border-right-color"]) {
	border-right-style: initial;
	border-left-style: initial;
}

/**
 * The following styles are flipped so that when RTLCSS runs, they're correct.
 * For some reason, `rtl:ignore` does not work.
 */

html[dir="rtl"] :where([style*="border-left-width"]),
html[dir="rtl"] :where([style*="border-left-color"]) {
	border-right-style: solid;
}

html[dir="rtl"] :where([style*="border-right-width"]),
html[dir="rtl"] :where([style*="border-right-color"]) {
	border-left-style: solid;
}

.wp-block-navigation.is-vertical {
	ul {
		width: 100%;
		gap: 0;
	}

	.wp-block-navigation-link {
		width: 100%;
		padding: 14px 0;
		// Use the current text color, to support different text/background color combos.
		border-bottom: 1px solid currentColor;
		line-height: 1.125;

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration-line: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 0.15em;
			}

			&::after {
				content: "↗︎";
			}
		}

		&:first-of-type {
			border-top: 1px solid currentColor;
		}
	}

	&:not(.has-text-color) a:not(.wp-element-button) {
		color: var(--wp--custom--link--color--text);
	}

	&.has-background a:not(.wp-element-button) {
		padding-block: 0;
	}
}

// Images in the link banner should not shrink.
body.home .wp-block-wporg-link-wrapper {

	@media (max-width: 499px) {
		font-size: 13px;
	}

	.is-layout-flex .wp-block-image {
		flex-shrink: 0;
	}
}

.wporg-home-showcase-logos {

	@media (max-width: 599px) {
		display: grid !important;
		grid-template-columns: 1fr 1fr;

		> .wp-block-image {
			display: flex;
			justify-content: center;
		}
	}
}

/**
 * Add a background behind the Editor section's cover block, for browsers that don't support webp.
 */

#editor {
	background-color: var(--wp--preset--color--charcoal-1);
}

/**
 * Enterprise page
 */

.wporg-enterprise-logos {
	row-gap: var(--wp--preset--spacing--40) !important;

	.wp-block-image {
		line-height: 1;

		> img {
			vertical-align: middle;
		}
	}
}

.wporg-enterprise-use-cases,
.wporg-enterprise-features {
	--wp--preset--spacing--60: clamp(40px, calc(100vw / 18), 80px);
}

/**
 * About page
 */

$wporg-about-breakpoint-min: 600px;
$wporg-about-breakpoint-max: 1920px;

[class*="wporg-about-section-"][style*="padding-top"] {
	--wp--preset--spacing--60: clamp(60px, calc(100vw / 18), 80px);

	&.wporg-about-section-cover {
		--wp--preset--spacing--60: clamp(20px, calc(100vw / 18), 80px);
	}
}

.wporg-about-cover-title > span,
.wporg-about-section-heading {
	font-size: #{fluid(52px, 125px, $wporg-about-breakpoint-min, $wporg-about-breakpoint-max)} !important;
	display: inline-block;
}

.wporg-about-section-heading {
	position: relative;

	&::after {
		display: block;
	}

	.wporg-about-section-mission & {
		&::after {
			content: "";
			position: absolute;
			height: 100%;
			min-height: 31px;
			width: 19%;
			min-width: 66px;
			margin-top: var(--wp--preset--spacing--10);
			left: 2%;
			background-image: url(../../images/about-mission-swirl.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	.wporg-about-section-freedoms & {
		display: block;

		&::after {
			content: "";
			position: absolute;
			height: 100%;
			min-height: 36px;
			width: 38.5%;
			min-width: 227px;
			top: 84%;
			left: 10%;
			background-image: url(../../images/about-4-freedoms-underline.svg);
			background-size: contain;
			background-repeat: no-repeat;

			[dir="rtl"] & {
				transform: scaleX(-1);
			}
		}
	}
}

.wporg-about-cover-pretext {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		display: block;
		left: -5px;
		top: 26px;
		width: 134px;
		height: 8px;
		background-image: url(../../images/about-cover-underline.svg);
		background-repeat: no-repeat;
		background-position: center;

		[dir="rtl"] & {
			transform: scaleX(-1);
		}
	}
}

.wporg-about-cover-title {
	$arrow-height: #{fluid(122px, 242px, $wporg-about-breakpoint-min, $wporg-about-breakpoint-max)};

	display: grid;
	grid-template-rows: auto $arrow-height auto;

	&::before {
		content: "";
		background-image: url(../../images/about-cover-arrow.svg);
		background-size: auto $arrow-height;
		background-repeat: no-repeat;
		background-position: 42% center;

		[dir="rtl"] & {
			transform: scaleX(-1);
		}
	}

	> span:first-child {
		grid-row: 1;
	}

	> span:last-child {
		grid-row: 3;
		text-align: left;
	}
}

.wporg-about-cover-intro {
	text-align: right;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.wporg-about-section-freedoms {
	--wp--preset--spacing--50: clamp(20px, calc(100vw / 16), 70px);
}

[class*="wporg-about-section-freedom-"] h3 {
	word-break: initial;
	overflow-wrap: initial;
}

.wporg-about-section-software {
	position: relative;
}

.wporg-about-stats-section {
	.wporg-stats-chart {
		height: 450px;

		&.loading::before {
			content: "";
			display: block;
			height: 20px;
			width: 20px;
			transform: translateZ(0);
			background: url(https://s.w.org/wp-includes/images/spinner-2x.gif) no-repeat 50%;
			background-size: 100%;
		}

		.google-visualization-table {
			flex: 1;

			table {
				width: 100%;
			}
		}
	}

	.swap-table {
		vertical-align: unset;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

@media (min-width: 1281px) {
	.wporg-about-cover-title {
		// move the intro text up to align with the bottom of the title
		margin-block-end:
			calc((
				(
					var(--wp--custom--body--typography--line-height) * var(--wp--preset--font-size--normal)
				) + var(--wp--preset--spacing--10)
			) * -1) !important // ~ -42px;
	}
}

@media (min-width: 782px) {
	.wporg-about-section-heading {
		// move the section heading up to align with the top of the right column
		// breakpoint arguments reversed, as the value changes inversely proportional to screen width
		margin-block-start: #{fluid(-10px, 4px, $wporg-about-breakpoint-max, $wporg-about-breakpoint-min)} !important;
	}

	[class*="wporg-about-section-freedom-"] {
		// move the numbered freedom sections up to overlap the previous one
		margin-block-end: -30px !important;
		position: relative;
	}
}

@media (min-width: 600px) {
	.wporg-about-cover-title {
		// move the pretext down to align with the top of the title
		margin-block-start:
			calc((
				var(--wp--custom--body--typography--line-height) * var(--wp--preset--font-size--normal)
			) * -1) !important;
	}
}

/*
 * Spacing for small screens.
 */

@media (min-width: 960px) and (max-width: 1280px) {

	/* Pull the features list flush to the edge of the screen (only on mid-sized screens). */
	#features .is-style-features {
		margin-left: calc(-1 * var(--wp--preset--spacing--edge-space));
	}
}

@media (max-width: 1199px) {

	/* Adjust spacing & font size of feature list items */
	#features .is-style-features > li {
		padding-left: var(--wp--preset--spacing--30);
		padding-right: var(--wp--preset--spacing--30);
	}

	#intro .wp-block-columns {
		display: block;
	}
}

@media (max-width: 1000px) {

	/* Remove the spacing next to "Powerful and empowering" to prevent crunched text. */
	#benefits h2 {
		margin-right: 0 !important;
	}
}

@media (max-width: 959px) {

	/* Flip this section to a column early, otherwise the list items are cut off. */
	#features .wp-block-columns {
		flex-wrap: wrap !important;
	}

	#features .wp-block-columns > .wp-block-column {
		flex-basis: 100% !important;
	}
}

@media (max-width: 781px) {

	/* Update the columns gap when it switches to single-column */
	#benefits .is-layout-flex,
	#learning .is-layout-flex,
	#resources .is-layout-flex {
		gap: 40px;
	}

	#download-hosting,
	#features {
		padding: 0 !important;
	}

	#download-hosting .wp-block-columns > .wp-block-column:first-child {
		border-right: none;
		border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
	}

	#download-hosting .wp-block-columns > .wp-block-column .wp-block-group,
	#features .wp-block-columns > .wp-block-column:last-child {
		padding-left: var(--wp--preset--spacing--edge-space) !important;
		padding-right: var(--wp--preset--spacing--edge-space) !important;
	}

	#features .wp-block-columns > .wp-block-column:first-child {
		padding-right: 0 !important;
	}

	.wporg-enterprise-features .wp-block-column {
		border-right: none;

		&:not(:first-child) {
			border-top: 1px solid var(--wp--preset--color--light-grey-1) !important;
		}
	}

	.wporg-about-cover-intro {
		margin-block-start: 20px !important;
	}

	.wporg-about-section-heading {
		line-height: 1.1 !important;

		.wporg-about-section-mission & {
			&::after {
				position: relative;
				margin: var(--wp--preset--spacing--20) 0 var(--wp--preset--spacing--10);
			}
		}
	}

	[class*="wporg-about-section-freedom-"] {
		padding-top: var(--wp--preset--spacing--40) !important;
		padding-bottom: var(--wp--preset--spacing--40) !important;

		h3 {
			font-size: 120px !important;
			margin-bottom: var(--wp--preset--spacing--30);
		}
	}

	.wporg-about-section-freedom-1 {
		border-top: 1px solid var(--wp--preset--color--charcoal-1);
	}
}

@media (max-width: 599px) {
	#editor {
		min-height: 0 !important;
		padding-left: var(--wp--preset--spacing--40) !important;
		padding-right: var(--wp--preset--spacing--40) !important;
	}

	#editor .wp-block-cover__inner-container .wp-block-group > * {
		max-width: 22rem !important;
	}

	.wp-block-buttons .wp-block-button,
	.wp-block-buttons .wp-block-button .wp-block-button__link {
		width: 100% !important;
	}

	#download-install .wp-block-button:nth-child(1) a {
		padding: 0;
		background-color: transparent;
		color: var(--wp--custom--link--color--text);
		font-weight: 400;
		text-align: revert;
		display: inline;

		&:hover,
		&:focus-visible {
			text-decoration: underline;
		}
	}

	#download-install .wp-block-button:nth-child(2) a {
		--wp--custom--button--outline--color--background: var(--wp--preset--color--blueberry-1);
		--wp--custom--button--outline--color--text: var(--wp--preset--color--white);
		--wp--custom--button--outline--hover--color--background: var(--wp--preset--color--deep-blueberry);
		--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--white);
		--wp--custom--button--outline--active--color--background: var(--wp--preset--color--charcoal-1);
		--wp--custom--button--outline--active--color--text: var(--wp--preset--color--white);
		border: none;
		background-color: var(--wp--custom--button--outline--color--background);

		&:hover,
		&:focus {
			background-color: var(--wp--custom--button--outline--hover--color--background);
			color: var(--wp--custom--button--outline--hover--color--text);
		}

		&:active {
			background-color: var(--wp--custom--button--outline--active--color--background);
			color: var(--wp--custom--button--outline--active--color--text);
		}
	}

	.wporg-enterprise-logos {
		display: grid !important;
		grid-template-columns: 1fr 1fr;
		row-gap: var(--wp--preset--spacing--30) !important;

		.wp-block-image {
			display: flex;
			justify-content: center;

			> img {
				max-height: 20px;
				width: auto;
			}
		}
	}

	.wporg-enterprise-get-wordpress .wp-block-heading.is-style-with-arrow {
		font-size: 52px !important;
	}

	.wporg-about-cover-title {
		background-position: 95% center;
	}
}

@media (max-width: 419px) {
	.wporg-about-section-heading {
		.wporg-about-section-freedoms & {
			&::after {
				top: 34%;
				left: 16%;
			}
		}
	}
}

/*
 * Workaround for Gutenberg CSS4 selectors on older browsers.
 *
 * @link https://github.com/WordPress/gutenberg/issues/43723.
 *
 * Reproducing gutenberg_get_layout_style() isn't practical, so this just hardcodes the needed values.
 *
 * Remove this when the above issue is fixed in a stable release.
 */

body .is-layout-constrained > * {
	max-width: var(--wp--style--global--content-size);
	margin-left: auto !important;
	margin-right: auto !important;
}

body .is-layout-constrained > .alignwide {
	max-width: var(--wp--style--global--wide-size);
}

body .is-layout-constrained > .alignfull {
	max-width: unset;
	margin-left: unset !important;
	margin-right: unset !important;
}
