/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

/*
 * Override inline paddings with the spacing preset.
 */

[style*="padding-top:120px"] {
	padding-top: var(--wp--preset--spacing--80) !important;
}

[style*="padding-bottom:120px"] {
	padding-bottom: var(--wp--preset--spacing--80) !important;
}

[style*="padding-top:160px"] {
	padding-top: var(--wp--preset--spacing--90) !important;
}

[style*="padding-bottom:160px"] {
	padding-bottom: var(--wp--preset--spacing--90) !important;
}


/*
 * Fix border bug on RTL sites.
 * See https://github.com/WordPress/gutenberg/issues/44169.
 */

html[dir="rtl"] :where([style*="border-left-width"]),
html[dir="rtl"] :where([style*="border-left-color"]),
html[dir="rtl"] :where([style*="border-right-width"]),
html[dir="rtl"] :where([style*="border-right-color"]) {
	border-right-style: initial;
	border-left-style: initial;
}

/**
 * The following styles are flipped so that when RTLCSS runs, they're correct.
 * For some reason, `rtl:ignore` does not work.
 */

html[dir="rtl"] :where([style*="border-left-width"]),
html[dir="rtl"] :where([style*="border-left-color"]) {
	border-right-style: solid;
}

html[dir="rtl"] :where([style*="border-right-width"]),
html[dir="rtl"] :where([style*="border-right-color"]) {
	border-left-style: solid;
}

/**
 * Add a background behind the Editor section's cover block, for browsers that don't support webp.
 */

#editor {
	background-color: var(--wp--preset--color--charcoal-1);
}

/**
 * Enterprise page
 */

.wporg-enterprise-logos {
	row-gap: var(--wp--preset--spacing--40) !important;

	.wp-block-image {
		line-height: 1;

		> img {
			vertical-align: middle;
		}
	}
}

.wporg-enterprise-use-cases,
.wporg-enterprise-features {
	--wp--preset--spacing--60: clamp(40px, calc(100vw / 18), 80px);
}

.wporg-enterprise-features {
	[dir="rtl"] & {
		.wp-block-column {
			&:first-child {
				border-right: none;
			}

			&:last-child {
				border-right: 1px solid var(--wp--preset--color--light-grey-1);
			}
		}
	}
}

/**
 * About page
 */

[class*="wporg-about-section-"][style*="padding-top"] {
	--wp--preset--spacing--60: clamp(60px, calc(100vw / 18), 80px);
}

.wporg-about-cover-title > span,
.wporg-about-section-heading {
	font-size: clamp(3.25rem, 5.3vw + 1.3rem, 5.625rem) !important;
}

.wporg-about-cover-pretext {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: -5px;
		top: 26px;
		width: 134px;
		height: 8px;
		background-image: url(../../images/about-cover-underline.svg);
		background-repeat: no-repeat;
		background-position: center;

		[dir="rtl"] & {
			left: unset;
			right: -5px;
			transform: scaleX(-1);
		}
	}
}

.wporg-about-cover-title {
	$text-row-height: clamp(3.5rem, 7.2vw + 0.8rem, 6.75rem);

	position: relative;
	display: grid;
	grid-template-rows: $text-row-height clamp(8.75rem, 5.5vw + 6.7rem, 11.25rem) $text-row-height;
	width: 100%;

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../../images/about-cover-arrow.svg);
		background-size: clamp(16rem, 12.8vw + 11.21rem, 21.75rem);
		background-repeat: no-repeat;
		background-position: 42% center;
	}

	@media (max-width: 599px) {
		grid-template-rows: $text-row-height 180px $text-row-height;

		&::after {
			background-position: 72% 55%;
			transform: rotate(-11.07deg);
		}
	}

	> span:last-child {
		grid-row: 3;
		text-align: left;
	}

	[dir="rtl"] & {
		text-align: left;

		&::after {
			transform: scaleX(-1);
		}

		> span:last-child {
			text-align: right;
		}
	}
}

.wporg-about-section-freedoms {
	--wp--preset--spacing--50: clamp(20px, calc(100vw / 16), 70px);
}

[class*="wporg-about-section-freedom-"] h3 {
	word-break: initial;
	overflow-wrap: initial;
}

.wporg-about-section-software {
	position: relative;
}

@media (min-width: 1281px) {
	.wporg-about-cover-title {
		// move the intro text up to align with the bottom of the title
		margin-block-end:
			calc((
				(
					var(--wp--custom--body--typography--line-height) * var(--wp--preset--font-size--normal)
				) + var(--wp--preset--spacing--10)
			) * -1) !important // ~ -42px;
	}
}

@media (min-width: 782px) {
	.wporg-about-section-heading {
		// move the section heading up to align with the top of the right column
		margin-block-start: -10px !important;

		.wporg-about-section-mission & {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 87px;
				height: 41px;
				top: 115%;
				left: 2%;
				background-image: url(../../images/about-mission-swirl.svg);
			}
		}

		.wporg-about-section-freedoms & {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 315px;
				height: 50px;
				top: 84%;
				left: 10%;
				background-image: url(../../images/about-4-freedoms-underline.svg);
			}
		}
	}

	[class*="wporg-about-section-freedom-"] {
		// move the numbered freedom sections up to overlap the previous one
		margin-block-end: -30px !important;
		position: relative;
	}
}

@media (min-width: 600px) {
	.wporg-about-cover-title {
		// move the pretext down to align with the top of the title
		margin-block-start:
			calc((
				var(--wp--custom--body--typography--line-height) * var(--wp--preset--font-size--normal)
			) * -1) !important;
	}
}

/*
 * Spacing for small screens.
 */

@media (min-width: 960px) and (max-width: 1280px) {

	/* Pull the features list flush to the edge of the screen (only on mid-sized screens). */
	#features .is-style-features {
		margin-left: calc(-1 * var(--wp--preset--spacing--edge-space));
	}
}

@media (max-width: 1280px) {
	.wporg-about-cover-intro {
		text-align: right;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

@media (max-width: 1199px) {

	/* Adjust spacing & font size of feature list items */
	#features .is-style-features > li {
		padding-left: var(--wp--preset--spacing--30);
		padding-right: var(--wp--preset--spacing--30);
	}

	#intro .wp-block-columns {
		display: block;
	}
}

@media (max-width: 1000px) {

	/* Remove the spacing next to "Powerful and empowering" to prevent crunched text. */
	#benefits h2 {
		margin-right: 0 !important;
	}
}

@media (max-width: 959px) {

	/* Flip this section to a column early, otherwise the list items are cut off. */
	#features .wp-block-columns {
		flex-wrap: wrap !important;
	}

	#features .wp-block-columns > .wp-block-column {
		flex-basis: 100% !important;
	}
}

@media (max-width: 781px) {

	/* Update the columns gap when it switches to single-column */
	#benefits .is-layout-flex,
	#learning .is-layout-flex,
	#resources .is-layout-flex {
		gap: 40px;
	}

	#download-hosting,
	#features {
		padding: 0 !important;
	}

	#download-hosting .wp-block-columns > .wp-block-column:first-child {
		border-right: none;
		border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
	}

	#download-hosting .wp-block-columns > .wp-block-column .wp-block-group,
	#features .wp-block-columns > .wp-block-column:last-child {
		padding-left: var(--wp--preset--spacing--edge-space) !important;
		padding-right: var(--wp--preset--spacing--edge-space) !important;
	}

	#features .wp-block-columns > .wp-block-column:first-child {
		padding-right: 0 !important;
	}

	.wporg-enterprise-features .wp-block-column {
		border-right: none;

		&:not(:first-child) {
			border-top: 1px solid var(--wp--preset--color--light-grey-1) !important;
		}
	}

	.wporg-about-cover-intro {
		margin-block-start: 20px !important;
	}

	.wporg-about-section-heading {
		line-height: 1.1 !important;
	}

	[class*="wporg-about-section-freedom-"] {
		padding-top: var(--wp--preset--spacing--40) !important;
		padding-bottom: var(--wp--preset--spacing--40) !important;

		h3 {
			font-size: 120px !important;
		}

		p {
			margin-top: 0 !important;
		}
	}

	.wporg-about-section-freedom-1 {
		border-top: 1px solid var(--wp--preset--color--charcoal-1);
	}
}

@media (max-width: 599px) {
	#editor {
		min-height: 0 !important;
		padding-left: var(--wp--preset--spacing--40) !important;
		padding-right: var(--wp--preset--spacing--40) !important;
	}

	#editor .wp-block-cover__inner-container .wp-block-group > * {
		max-width: 22rem !important;
	}

	.wp-block-buttons .wp-block-button,
	.wp-block-buttons .wp-block-button .wp-block-button__link {
		width: 100% !important;
	}

	.wporg-enterprise-logos {
		display: grid !important;
		grid-template-columns: 1fr 1fr;
		row-gap: var(--wp--preset--spacing--30) !important;

		.wp-block-image {
			display: flex;
			justify-content: center;

			> img {
				max-height: 20px;
				width: auto;
			}
		}
	}

	.wporg-enterprise-get-wordpress .wp-block-heading.is-style-with-arrow {
		font-size: 52px !important;
	}
}


/*
 * Workaround for Gutenberg CSS4 selectors on older browsers.
 *
 * @link https://github.com/WordPress/gutenberg/issues/43723.
 *
 * Reproducing gutenberg_get_layout_style() isn't practical, so this just hardcodes the needed values.
 *
 * Remove this when the above issue is fixed in a stable release.
 */

body .is-layout-constrained > * {
	max-width: var(--wp--style--global--content-size);
	margin-left: auto !important;
	margin-right: auto !important;
}

body .is-layout-constrained > .alignwide {
	max-width: var(--wp--style--global--wide-size);
}

body .is-layout-constrained > .alignfull {
	max-width: unset;
	margin-left: unset !important;
	margin-right: unset !important;
}
