.wp-block-wporg-google-search-embed {
	.gsc-control-cse {
		font-family: var(--wp--preset--font-family--inter) !important;

		* {
			font-family: inherit !important;
		}
	}

	form.gsc-search-box {
		margin-bottom: var(--wp--preset--spacing--40);
	}

	.gsc-result-info,
	.gsc-orderby-label {
		color: var(--wp--preset--color--charcoal-4);
	}

	.gsc-search-button-v2 {
		padding: 13px 27px;

		svg {
			transform: scaleX(-1);
		}
	}

	.gs-web-image-box,
	.gs-promotion-image-box {
		margin-right: 8px;
	}

	.gsc-selected-option-container {
		max-width: none;
	}
}

// The search results table is appended to the end of the page, and uses a
// generated class name.
body > table[class*="gssb"] {
	// The page's offset top (for the fixed header) pulls up the autocomplete
	// dropdown. Adding some margin fixes that.
	margin-top: var(--wp-global-header-offset, 0);
}
