@import "../style/fluid";

// This file contains page & section-specific overrides for Rosetta sites.
// When adding a new locale, try to keep the lang selectors in alphabetical order.

$wporg-about-breakpoint-min: 600px;
$wporg-about-breakpoint-max: 1920px;

[lang="zh-CN"],
[lang="ja"] {
	// Any line height < 1.
	[class*="wp-block"][style*="line-height:0."] {
		line-height: 1.2 !important;
	}

	// Any negative letterspacing.
	[class*="wp-block"][style*="letter-spacing:-"] {
		letter-spacing: normal !important;
	}
}

[lang="de-DE"] {
	.wporg-about-cover-title > span,
	.wporg-about-section-heading {
		font-size: #{fluid(40px, 92px, $wporg-about-breakpoint-min, $wporg-about-breakpoint-max)} !important;
	}
}

[lang="ja"] {
	.wp-block-wporg-random-heading > strong {
		display: inline-block;
	}

	.wporg-about-cover-title > span,
	.wporg-about-section-heading {
		font-size: #{fluid(40px, 92px, $wporg-about-breakpoint-min, $wporg-about-breakpoint-max)} !important;
	}
}

[lang="sq"] {
	.wporg-about-cover-title > span {
		font-size: #{fluid(40px, 96px, $wporg-about-breakpoint-min, $wporg-about-breakpoint-max)} !important;
	}

	.wporg-about-section-heading {
		font-size: #{fluid(40px, 80px, $wporg-about-breakpoint-min, $wporg-about-breakpoint-max)} !important;
	}
}
