<!-- wp:wporg/global-header {"textColor":"charcoal-2","backgroundColor":"white","style":{"border":{"bottom":{"color":"var:preset|color|black-opacity-15","style":"solid","width":"1px"}}}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true},"className":"entry-content","style":{"spacing":{"blockGap":"0px"}}} -->
<main class="wp-block-group entry-content">
	<!-- wp:pattern {"slug":"wporg-main-2022/creator-connections"} /-->
</main>
<!-- /wp:group -->

<!-- wp:wporg/global-footer {"style":{"border":{"top":{"color":"var:preset|color|white-opacity-15","style":"solid","width":"1px"}}}} /-->
