<phpunit
		bootstrap="./bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="export-content">
			<directory suffix="-test.php">../../../env/export-content/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
