<!-- wp:wporg/global-header {"style":{"border":{"bottom":{"color":"var:preset|color|white-opacity-15","style":"solid","width":"1px"}}}} /-->

<!-- wp:pattern {"slug":"wporg-main-2022/nav-data-liberation"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px","padding":{"right":"var:preset|spacing|edge-space","left":"var:preset|spacing|edge-space"}}},"className":"entry-content","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group entry-content" style="padding-right:var(--wp--preset--spacing--edge-space);padding-left:var(--wp--preset--spacing--edge-space)">
	<!-- wp:pattern {"slug":"wporg-main-2022/data-liberation-guides"} /-->
</main>
<!-- /wp:group -->

<!-- wp:wporg/global-footer /-->
