<!-- wp:wporg/global-header /-->

<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"16px","right":"var:preset|spacing|60","bottom":"0","left":"var:preset|spacing|60"}},"border":{"top":{"color":"var:preset|color|charcoal-1","width":"1px"},"bottom":{"width":"0px","style":"none"}}},"backgroundColor":"charcoal-2","textColor":"white","className":"is-style-brush-stroke is-sticky","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull is-style-brush-stroke is-sticky has-white-color has-charcoal-2-background-color has-text-color has-background has-link-color" style="border-top-color:var(--wp--preset--color--charcoal-1);border-top-width:1px;border-bottom-style:none;border-bottom-width:0px;padding-top:16px;padding-right:var(--wp--preset--spacing--60);padding-bottom:0;padding-left:var(--wp--preset--spacing--60)"><!-- wp:group {"align":"full","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignfull"><!-- wp:wporg/site-breadcrumbs {"fontSize":"small"} /-->

<!-- wp:navigation {"ref":11576,"textColor":"blueberry-2","hasIcon":false,"layout":{"type":"flex","orientation":"horizontal"},"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","layout":{"inherit":true},"className":"entry-content","style":{"spacing":{"blockGap":"0px"}}} -->
<main class="wp-block-group entry-content">
	<!-- wp:pattern {"slug":"wporg-main-2022/counter"} /-->
</main>
<!-- /wp:group -->

<!-- wp:wporg/global-footer /-->
